.vco {
  display: flex;
  width: 420px;
  border: 4px solid black;
  border-radius: 6px;
  border: 10px solid gold;
}


.io {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100px;
  background: palegoldenrod;
  justify-content: center;
}

#io {
  display: flex;
  background: palegoldenrod;
  width: 220px;
}

.io-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0px 0px 7px black;
}

.hole {
  // background-color: rgb(157, 153, 153);
  background-color: black;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hole:hover {
  background-color:red;
  cursor: pointer;
}


.ui-widget-content{
  border: 4px solid black;
}

#forward{
  z-index: -1;
}


#amp-input {
  width: 100px;
  display: flex;
  // align-items: center;
  justify-content: center;
}

.vca {
  display: flex;
  background-color: blue;
}