// .vca {
//   display: flex;
//   align-items: stretch;
//   justify-content: space-between;
//   height: 700px;
//   width: 700px;
//   margin: 20px;
// }

.vca-io {
  display: flex;
  justify-content:center;
  flex-flow: column wrap;
  align-items: stretch;
}

#vca-io{
  // display: flex;
  // background: palegoldenrod;
  // width: 260px;
  // justify-content: center;
}

// .vca{
//   width: 260px;
//   display: flex;
//   background-color: green;
// }

.amplitude-knobs{
  position: relative;
  background-color:palegoldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#draggablevca{
  // border: 10px solid rgb(248, 232, 142);
  margin: 50px;
  margin-top: 100px;
  box-shadow: 0px 0px 50px #dcdcdc;
  border-radius: 5px;
  // padding-left: 100px;
}

#draggablevco{
  // border: 10px solid gold;
  margin: 50px;
  // margin-left: -55px;
  margin-top: 100px;
  box-shadow: 0px 0px 50px #dcdcdc;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height:60px;
  width: 60px;
  background-color: #9198e5;

  // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  // font-family: Georgia, 'Times New Roman', Times, serif;

  font-size: 15px;
  border-radius: 10px;
  border: .5px solid #f471e5b6;
  box-shadow: 0px 0px 40px #ff38e8;
  margin: 100px;
  // margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  color: firebrick;
  font-weight:bold;
  // color: blue;

  // align-self: center;
  justify-self: center;
  position: absolute;
  top: 55px;
  right: 15px;

}

.start-button:hover{
  cursor: pointer;
  background-color: #828ae6;
}

#amp-input {
  display: flex;
  height: 100%;
  width: 100px;
  flex-direction: column;
  background-color: palegoldenrod;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;

}

.temp-buttons {
  // padding: 1%;
  margin: 10%;
  width: 58px;
  height: 70px;
}

// #git {
//   margin-left: 80px;
// }


