// html{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
// }

h1 {
  width: 100%;
  position: relative;
}

body {
  background-color:burlywood;
  display: flex;
  align-items: stretch;
  // justify-content: space-between;
}

.start-button {
  display: inline-block;
  // height:100px;
  // width: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.outer-container {
  display: flex;
  flex-flow: column wrap;
  height: 100px;
}


.knob-container::before {
  content: '';
  position: absolute;
  background: linear-gradient(#e66465, #9198e5);
  width: 10em;
  height: 10em;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.19); //from tutorial -->
}
.knob-container{
  margin: 10px;
}

.knob {
  width: 10em;
  height: 10em;
  position: relative;
}

.knob::before,
.knob::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.knob::before {
  border-radius: 0%;
  top: 0px;
  left: 50%;
  transform: tranlsateX(50%);
  width: 4px;
  height: 75px;
  background: lemonchiffon;
  box-shadow: 0px 0px 10px #ff3886;  //from tutorial
}

.module-container{
  display: flex;
  background-color: palegoldenrod;
  height: 500px;
  width: 200px;
  flex-flow: row wrap;
}

#draggable2 {
  width: 180px;
  height: 800px;
  padding:1em;

}

.ui-widget-content{
  border: 4 px black;
}




#vca{
  // border: 10px solid springgreen;
}

@import './styles/input.scss', './styles/vca.scss';

