// html{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
// }

h1 {
  width: 100%;
  position: relative;
}

body {
  // background-color:black;
  // z-index: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}



// .active {
//   background-color: blue;
//   color:blue;
// }

.outer-container {
  display: flex;
  flex-flow: column wrap;
  height: 100px;
}


.knob-container::before {
  content: '';
  position: absolute;
  background: linear-gradient(#e66465, #9198e5);
  width: 10em;
  height: 10em;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.19); //from tutorial -->
}
.knob-container{
  margin: 10px;
}

.knob {
  width: 10em;
  height: 10em;
  position: relative;
}

.knob::before,
.knob::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.knob::before {
  border-radius: 0%;
  top: 0px;
  left: 50%;
  transform: tranlsateX(50%);
  width: 4px;
  height: 75px;
  background: lemonchiffon;
  box-shadow: 0px 0px 10px #ff3886;  //from tutorial
}

.module-container{
  display: flex;
  background-color: palegoldenrod;
  height: 500px;
  width: 200px;
  flex-flow: row wrap;
}

#draggable2 {
  width: 180px;
  height: 800px;
  padding:1em;

}

.ui-widget-content{
  border: 4 px black;
}



.active-input{
  background-color: white;
  height: 40%;
  width: 40%;
  border-radius: 50%;
  border: 1px solid black;
  display: none;
  box-shadow: 0px 0px 5px black;

}

#nav-bar {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  background-color:  rgb(69, 211, 126) ;
  color: firebrick;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  box-shadow: 0px 0px 10px #d138ff;
  box-shadow: 0px 0px 40px #d138ff;
  box-shadow: 0px 0px 40px #a84cfedc;

  // box-shadow: 0px 0px 140px #caff38b0;


  padding-bottom: 16px;
  padding-top: 16px;

  // padding-right: 100px;
  // padding-left: 100px;

  // margin-right: 10px;

  // margin-bottom: -35px
}

#instructions{
  display: none;
  position: absolute;
  top: 103px;
  left: 32px;
  // border: 3px solid black;
  box-shadow: 0px 0px 30px #4f38ff;
  border: 1.5px solid #ef1bd7b6;



  box-shadow: 0px 5px 5px 35px #f715ddc6;


  // box-shadow: 0px 0px 10px gold;


  border-radius: 50px;
  padding: 35px;
  padding-right: 44px;
  padding-left: 45px;
  width: 800px;
  font-size: 24px;
  background-color: rgb(96, 161, 217);
  background-color: rgba(86, 141, 189, 0.857);

  color: rgb(245, 241, 206);

  // color: palegoldenrod;
}

#instructions-button:hover{
  cursor: pointer;
}

#close-instructions{
  // width: 100%;
  text-align: center;
  margin-top: 20px;
  font-style:italic;
  cursor:pointer;
  // color:  rgb(100, 231, 152)  ;
  color: firebrick;
  color: #f715dda6;
  // font-size: 30px;
  // text-decoration: underline;

  font-weight: bold;
  // font-size: 30px;
  // border: 1px solid gold;
}

#close-instructions:hover{
  text-decoration: underline;

}

.link {
  text-decoration: none;
  color: firebrick;
}
.link:hover{
  text-decoration: underline;
}

@import './styles/input.scss', './styles/vca.scss';

